@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;

}

/* mr-eaves-sans */
@import url("https://use.typekit.net/diy2xuy.css");

em,
i {
  font-family: "mr-eaves-sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;

  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }
}